---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const services = await getCollection("services");

  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;

console.log(service);
---

<p>test</p>
