---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import NarrowContainer from "@containers/NarrowContainer";
import Prose from "@components/Prose.astro";
import WeddingPricing from "@components/WeddingPricing.astro";
import Contact from "@components/Contact.astro";

const { slug } = Astro.params;
const course = await getEntry("services", slug!);
const frontmatter = course!.data;
const { benefits, image } = frontmatter;

export async function getStaticPaths() {
  const services = await getCollection("services");

  return services.map((service) => ({
    params: { slug: service.id },
    props: { service },
  }));
}

const { service } = Astro.props;

console.log(service);
---

<BaseLayout description="test" title="Weddings">
  <!-- <NarrowContainer> -->
  <article class="">
    <NarrowContainer>
      <h1 class="my-16 mx-auto text-center">Our Wedding Services</h1>
    </NarrowContainer>
    <NarrowContainer>
      <div class="max-w-2xl mx-auto">
        {image && <Image src={image} alt="Wedding services" />}
      </div>
    </NarrowContainer>
    <section class="my-16">
      <NarrowContainer>
        <Prose class="mx-auto">
          <h2>Officiating Weddings</h2>
          <p>
            Here at your ceremony we are a Judgement free ministry, We want to
            give people from all walks of life an experience not just another
            officiant. Rev. Billy AKA B-REV has come from a hard past and knows
            how love can change a person's life. We are compassionate and
            professional and want to bring our experience to your experience.
          </p>
        </Prose>
      </NarrowContainer>
    </section>
    <section class="my-16">
      <NarrowContainer>
        <Prose class="mx-auto">
          <h2>What's included?</h2>
          <ul>
            {
              benefits &&
                benefits.map((benefit) => (
                  <li>
                    <p>{benefit}</p>
                  </li>
                ))
            }
          </ul>
        </Prose>
      </NarrowContainer>
    </section>
    <section class="my-16">
      <NarrowContainer>
        <Prose class="mx-auto">
          <h2>Pricing Options</h2>
          <p>Local Weddings: $300</p>
          <p>Destination Weddings: $500 Plus travel and lodging</p>
        </Prose>
      </NarrowContainer>
    </section>
    <Contact />
  </article>
  <!-- </NarrowContainer> -->
</BaseLayout>
