---
import H2 from "./H2.astro";

interface Props {
  color: string;
  title?: string;
  hideMargin?: boolean;
}

const { color, title, hideMargin = false } = Astro.props;
---

<section class={`pb-8 ${hideMargin ? "" : "mb-16"} relative`}>
  <div class="">
    {
      title && (
        <header class="mx-auto z-20 mb-16 bg-primary">
          <H2 color={color} class="text-center mx-auto text-white">
            {title}
          </H2>
        </header>
      )
    }
    <slot />
  </div>
</section>
