---
import { getEntry } from "astro:content";
import AuthorExpanded from "./AuthorExpanded.astro";
import LogoCloud from "./LogoCloud.astro";
import NarrowContainer from "@containers/NarrowContainer";

const author = await getEntry("authors", "billy-bowen");
---

<section class="">
  <NarrowContainer>
    <AuthorExpanded {author} />
  </NarrowContainer>
</section>
