---
import { getEntry } from "astro:content";
import AuthorExpanded from "./AuthorExpanded.astro";
import LogoCloud from "./LogoCloud.astro";

const author = await getEntry("authors", "billy-bowen");
---

<section class="pt-24 pb-12">
  <AuthorExpanded {author} />
</section>
